<div id = "add_goal_form">
<button ng-click="show_form = !show_form">Create a new goal!</button>
<form ng-submit="goal.createGoal()" ng-show="show_form">

  Your Goal: <input type="text" ng-model="goal.newGoalDescription"></br></br>

  <select ng-model="goal.newGoalType">
    <option ng-repeat="goalType in goal.goal_types">{{goalType}}</option>
  </select>

  <input type=submit value="SUBMIT" ng-click="show_form = false">
  <button type="button" ng-click="show_form = false">Cancel</button>
</form>
</div>

<hr/>

<div ng-repeat="goal in goal.current_user_goals |
                orderBy: '-created_at'">
  <h1>{{goal.description}}</h1><br/>
  <h4>{{goal.goal_type}}</h4><br/>

  <div id="individual_steps"
       ng-repeat="step in goal.steps">
       {{step.step}}<br/>
  </div>
    <br/>
  <div ng-controller="StepController as step"
       id = "create_step">
       <button ng-click="show_form = !show_form">Add a step to your Goal!</button>
    <form ng-submit="step.createStep()" ng-show="show_form">
      <input type="text" ng-model="step.newStep">
      <input type="submit" value="Add step!" ng-click="show_form = false">
        <button type="button" ng-click="show_form = false">Cancel</button>
    </form>
  </div>
  </div>
</div>
