  <label>Create a new goal! <input type="checkbox" ng-model="show_form"></label><br/>
<div id = "add_goal_form" ng-show="show_form">
<form ng-submit="goal.createGoal()">

  Your Goal: <input type="text"ng-model="goal.newGoalDescription"></br></br>

  <select ng-model="goal.newGoalType">
    <option ng-repeat="goalType in goal.goal_types">{{goalType}}</option>
  </select>

  <input type=submit value="SUBMIT">
</form>
</div>

<hr/>

<div ng-repeat="goal in goal.current_user_goals |
                orderBy: '-created_at'">
  <h1>{{goal.description}}</h1><br/>
  <h4>{{goal.goal_type}}</h4><br/>

  <div id="individual_steps"
       ng-repeat="step in goal.steps">
       {{step.step}}<br/>
  </div>
    <br/>
  <div ng-controller="StepController as step"
       id = "create_step">
       Add your steps to your amazing goal:<br/>
    <form ng-submit="step.createStep()">
      <input type="text" ng-model="step.newStep">
      <input type="submit" value="Add step!">
    </form>
  </div>
  </div>
</div>
