<!-- FORM FOR SUBMITTING A NEW GOAL! -->
<div id = "add_goal_form">

  <button ng-click="show_form = !show_form"
          ng-hide="show_form == true">
          Create a new goal!
  </button>

  <form ng-submit="goal.createGoal()"
        ng-show="show_form">

    What is your goal?<br/>
    <input type="text"
           ng-model="goal.newGoalDescription">

    </br>
    </br>

    Pick a Category:<br/>
    <select ng-model="goal.newGoalType">
      <option ng-repeat="goalType in goal.goal_types">
        {{goalType}}
      </option>
    </select>

    <input type=submit
           value="SUBMIT"
           ng-click="show_form = false">

    <button type="button"
            ng-click="show_form = false">Cancel
    </button>

  </form>

</div>

<hr/>
<!-- END FORM FOR SUBMITTING A NEW GOAL -->


<!-- SHOW ALL GOALS -->
<div ng-controller="GoalController as GoalCtrl" ng-repeat="goal in goal.current_user_goals |
                orderBy: '-created_at'">

  <!-- goal description -->
  <span id = "goaldescription">
    <h3>{{goal.description}}</h3>
  </span>
  <br/>

  <!-- goal type -->
  <span id= "goal_type">
    <h4>{{goal.goal_type}}</h4>
  <span>
  <br/>

  <!-- steps for the goal -->
  <div id="individual_steps"
       ng-repeat="step in goal.steps">
       {{step.step}}
  </div>
  <br/>

  <!-- BEGIN FORM FOR STEPS -->
  <div ng-controller="StepController as step"
       id = "create_step">

    <button ng-click="steps_form = !steps_form"
            ng-hide="steps_form == true">
      Add a step to your Goal!
    </button>

    <form ng-submit="step.createStep()"
          ng-show="steps_form">

      <input type="text"
             ng-model="step.newStep">

      <input type="submit"
             value="Add step!"
             ng-click="steps_form = false">

      <button type="button"
              ng-click="steps_form = false">
              Cancel
      </button>
    </form>
  </div>
  <button type="button" ng-click="GoalCtrl.deleteGoal(goal)">DELETE</button>
</div>
<br/>
<br/>
