<!DOCTYPE html>

  <html ng-app="goalsApp">

  <head>

  <base href="/"> </base>

  <title>G O L</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <nav>

      <header ng-controller="HeaderController as header">

        <h1 id="title">G O L</h1>
        <h2 id="byline">Track Your Goals | Dream Bigger</h2>

        <h3 id="welcome">Welcome, {{ header.current_user.email }} </h3><br/>

      </header>

    </nav>


    <div ng-view>
    </div>


    <%= javascript_include_tag 'angular' %>

  </body>

</html>
