<!DOCTYPE html>

<html ng-app="goalsApp">

<head>
  <base href="/"> </base>
  <title>GOAL APP</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>



</head>
  <body>
    <nav>
    <header ng-controller="HeaderController as header">
      <nav>
        <h1>

        </h1>
      </nav>
      <h3>Welcome, {{ header.current_user.email }} </h3><br/>
      <a href="/form" class="headerlink">Post a New Goal!</a>
    </header>
  </nav>


    <div ng-view>
    </div>


    <%= javascript_include_tag 'angular' %>

  </body>

</html>
